/*Project stylesaa*/

.clearfix {
  clear:both;
}

.container {

}

/*nav styles*/

nav li {
  float: right;
  padding: 5px;
  margin: 5px;
  list-style: none;
}

nav li a {
  text-decoration: none;
  padding-right: 5px;
}


/*main styles*/

.main {
  margin: 0 auto;
  width: 700px;
  text-align: center;
}


/*Form styles*/

.search {
  margin-top: 40px;
}

.search input {
  width: 560px;
  height: 25px;
  font-size: 18px;
}

.buttons {
  margin-top: 2.5px;
  padding: 5px;
}

.buttons button {
  height: 30px;
  padding: 7.5px;
  margin: 2.5px;
  background-color: #f1f1f1;
  color: #757575;
  border: none;
  vertical-align: middle;
}

.links {
  float: right;
}

.link {
  text-align: center;
  display: block;
  font-size: 11px;
  margin-left: -45px;
  text-decoration: none;
}
