.clearfix {
  clear:both;
}

/*nav styles*/

nav li {
  float: right;
  padding: 5px;
  margin: 5px;
  list-style: none;
}

nav li a {
  text-decoration: none;
  padding-right: 5px;
}


/*main styles*/

.container {
  text-align: center;
}


.main {
  margin: 0 auto;
  width: 700px;
}

.search input {
  width: 500px;
  height: 25px;
}

.links {
  float: right;
}

.link {
  display: block;
  font-size: 11px;
}
